@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --primary-white: #fff;
    --primary-orange: #f9ab00;
    --primary-dark: rgba(255, 255, 255, 0)
}

body{
    font-family: 'Roboto Condensed', sans-serif !important;
}
.logo{
    width: 10.25rem;
}
nav a.nav-link{
    letter-spacing: .0375rem;
    cursor: pointer;
}
nav ul li{
    text-transform: uppercase;
}
.navbar-nav > li > a{
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: var(--primary-white) !important;
    font-size: .8rem;
    border-top: .1875rem solid var(--primary-dark) !important;

}
.navbar-brand{
    max-width: 11.25rem;
    padding: 0rem !important;
    height: 6rem;
}
.navbar-nav > li > a:active, .navbar-nav > li > a.active:focus{
    border-top: .1875rem solid var(--primary-orange) !important;
}
.navbar-nav > li > a:hover{
    border-top: .1875rem solid var(--primary-orange) !important;
}